<main role="main">

      <section style="background-image: url(assets/images/culture-4.jpg);" class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-white" style="margin-top: 150px;">La culture Sénégalaise</h1>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div *ngFor="let c of cultures" class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{c.url_photo}}" alt="Card image cap">
                <div class="card-title text-center"><h4>{{c.type}}</h4></div>
                <div class="card-body">
                  <p class="card-text">{{c.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

